@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&family=Merriweather:wght@400;700&family=Roboto:wght@300;500;700&display=swap');

:root {
    /*=====| Colors |===== */
    --primary-color: #335C67;
    --secondary-color: #E09F3E;
    --vanilla: #FFF3B0;
    --danger: #9E2A2B;
    --dark: #1e1d1d;
    --grey-dark: #525151;
    --light: #ebebeb;
    --white: #ffffff;
    
    
    /*=====| Colors & opacity |===== */
    --black-rvb: 0 0 0;
    --white-rvb: 255 255 255;
    --border-black-25-percent: .1rem solid rgb(var(--black-rvb) / .25);
    --shadow: rgb(var(--black-rvb) / .85);
    --box-shadow: 0 0 15px rgb(var(--black-rvb) / .1);

    /*=====| Sizes |===== */
    --base-size: clamp(1.4rem, 2vw, 1.6rem);
    --btn-border-radius: .5rem;
    --btn-padding: calc(var(--base-size) * .625) calc(var(--base-size) * .875);
    --burger-height: calc(var(--base-size) * 1.5);
    --container-width: clamp(30rem, 90%, 96rem);
    --dialog-width: clamp(30rem, 90%, calc(var(--base-size) * 31.25));

    /*=====| Transitions |===== */
    --smooth: .3s ease;
}

/*=================================================| BASIC RESET |=================================================*/

html {
    font-size: 62.5%;
}

body {
    font-size: var(--base-size);
    min-height: 100vh;
    display: grid;
    grid-template-rows: 7rem auto max-content;
}

body, body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    color: var(--dark);
}

input::-ms-input-placeholder {
    color: #999;
}

input::-webkit-input-placeholder {
    color: #999;
}

input::-moz-placeholder {
    color: #999;
    opacity: 1;
}

input[type="date"]:invalid::-webkit-datetime-edit {
    color: #999;
}

input[type="password"]:not(:placeholder-shown) {
    font: small-caption;
    font-size: calc(var(--base-size) * 1.25);
    letter-spacing: .35rem;
    color: var(--dark);
}

button,
input[type="submit"] {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

button[data-type="call-to-action"],
textarea,
input {
    border-radius: var(--btn-border-radius);
    font-size: var(--base-size);
}

button[data-type="call-to-action"],
input[type="submit"] {
    padding: var(--btn-padding);
    height: max-content;
    color: var(--light);
    font-weight: 500;
}

li {
    list-style-position: inside;
}

a {
    text-decoration: none;
}

b {
    font-weight: 600;
}

p {
    line-height: calc(var(--base-size) * 1.5);
}

svg,
img {
    display: block;
}

noscript {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container {
    margin: auto;
    width: var(--container-width);
}

/*=================================================| DIALOG |=================================================*/

dialog {
    width: var(--dialog-width);
    height: max-content;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--white);
    overflow: hidden;
    z-index: 10;
    border-radius: var(--btn-border-radius);
    border: none;

    & > header,
    & > div {
        padding: calc(var(--base-size) * 1.5);
    }

    & > header {
        background: var(--light);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--base-size);

        & > h2 {
            line-height: 1;
        }

        & > button {
            position: relative;
            background: rgb(var(--black-rvb) / .25);
            border-radius: 50%;
            width: calc(var(--base-size) * 1.825);
            aspect-ratio: 1 / 1;
            transition: background var(--smooth);
        }

        & > button:hover {
            background: rgb(var(--black-rvb) / .4);
        }

        &  > button span {
            position: absolute;
            left: 50%;
            top: 50%;
            background: var(--white);
            height: .2rem;
            width: 60%;
        }
    
        &  > button span:nth-child(1) {
            transform: translate(-50%, -50%) rotate(45deg);
        }
    
        &  > button span:nth-child(2) {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }

    & > div {
        display: flex;
        flex-direction: column;
        gap: var(--base-size);
    }
}

dialog::backdrop {
    background: rgb(0 0 0 / .75);
}

/*=================================================| HEADER |=================================================*/

header[data-header="site"] {
    background: var(--primary-color);
        
    & > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        & > div {
            display: inherit;
            align-items: center;
            gap: var(--base-size);
        }
    }
}

#logo {
    > a {
        display: flex;
        gap: calc(var(--base-size) * .625);
        align-items: center;
        transition: filter var(--smooth);
        
        > svg {
            width: calc(var(--base-size) * 1.875);
            height: auto;
            fill: var(--light);
        }
        
        > span {
            font-size: calc(var(--base-size) * 1.25);
            font-weight: 600;
            color: var(--light);
        }
    }

    > a:hover {
        filter: contrast(1.5)
    }
}

#user-session {
    display: inherit;
    align-items: inherit;
    gap: calc(var(--base-size) * .625);

    & > div {
        display: inherit;
        align-items: center;
        gap: calc(var(--base-size) * .625);

        & > form button,
        & > form svg {
            aspect-ratio: 1 / 1;
        }
    
        & > form button {
            width: calc(var(--base-size) * 1.5625);
        }

        & > form button > svg {
            width: 100%;
            height: auto;
            transition: opacity var(--smooth);
        }

        & > form button > svg:hover {
            opacity: .7;
        }

        & > span {
            color: var(--light);
        }
    }

    & img {
        width: calc(var(--base-size) * 1.875);
        height: auto;
        border-radius: 50%;
        border: .2rem solid rgb(var(--white-rvb) / .25);
    }

    & svg path {
        fill: var(--light);
    }

    & a {
        font-weight: 500;
        color: var(--secondary-color);
        transition: filter var(--smooth);
    }

    & a:hover {
        filter: contrast(1.5);
    }

    & a:not(.register):hover {
        text-decoration: underline;
    }

    & a.register {
        padding: var(--btn-padding);
        background: var(--secondary-color);
        color: var(--primary-color);
        border-radius: var(--btn-border-radius);
    }
}

#burger {
    position: relative;

    & > button {
        display: flex;
        width: calc(var(--base-size) * 1.875);
        height: var(--burger-height);
        flex-direction: column;
        justify-content: space-between;
        padding: calc(var(--base-size) * .3125);

        & > span {
            background: var(--light);
            height: .1rem;
            width: 100%;
            transition: var(--smooth);
        }
    }

    & > nav,
    & > nav::before {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background: var(--light);
    }

    & > nav {
        width: max-content;
        top: calc(var(--burger-height) + 2.5rem);
        box-shadow: var(--box-shadow);
        z-index: 1;
    }

    & > nav::before {
        --height: 1.1rem;
        content: '';
        top: calc(var(--height) * -1);
        width: 2rem;
        height: var(--height);
        clip-path: polygon(0 100%, 50% 0, 100% 100%);
    }

    & > nav.none {
        display: none;
    }

    & > nav > ul {
        list-style: none;
    }

    & > nav > ul li:not(:last-child) {
        border-bottom: .1rem solid rgb(var(--black-rvb) / .1);
    }

    & > nav > ul li a {
        display: block;
        padding: .75rem 2rem;
    }

    & > nav > ul li a:hover {
        background: rgb(0 0 0 / .1);
    }
}

.line-1 {
    transform: rotate(-45deg) translate(calc(var(--base-size) * -.3125), calc(var(--base-size) * .25));
}

.line-2 {
    opacity: 0;
}

.line-3 {
    transform: rotate(45deg) translate(calc(var(--base-size) * -.3125), calc(var(--base-size) * -.25));
}

/*=================================================| MAIN |=================================================*/

main > div,
footer > div {
    padding: 2rem 0;
}

main .container {
    display: flex;
    flex-direction: column;
}

section {
    padding-bottom: calc(var(--base-size) * 2);
}

section:not(:last-of-type) {
    border-bottom: var(--border-black-25-percent);
    margin-bottom: calc(var(--base-size) * 2);
}

section p[data-msg-infos="success"],
section p[data-msg-infos="error"] {
    font-weight: 400;
}

section p[data-msg-infos="success"] {
    color: rgb(0, 128, 0);
}

section p[data-msg-infos="error"] {
    color: rgb(128, 0, 0);
}

h1,
h2 {
    font-weight: 500;
    color: var(--primary-color);
}

h1 {
    font-size: calc(var(--base-size) * 2.1875);
    line-height: calc(var(--base-size) * 2.75);
}

h1 + p {
    font-size: calc(var(--base-size) * 1.125);
    font-weight: 400;
    margin-top: calc(var(--base-size) * .825);
}

h2 {
    font-size: calc(var(--base-size) * 1.85);
    line-height: calc(var(--base-size) * 2.5);
}

h3 {
    font-size: calc(var(--base-size) * 1.5);
    font-weight: 400;
}

#data-home section .container > ul,
#data-user-form section form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main .container,
#data-home section .container > ul,
#data-home section .container > ul > li,
#data-user-form section form {
    gap: calc(var(--base-size) * 1.8);
}

form[data-style] label {
    display: grid;
    gap: .5rem;
}

form[data-style] input:not(input[type="submit"]) {
    padding: calc(var(--base-size) * .625);
    border: var(--border-black-25-percent);
}

.login-register {
    display: flex;
    gap: var(--base-size);
    align-items: center;
    width: max-content;

    & a:first-of-type {
        display: inline-block;
        padding: var(--btn-padding);
        color: var(--light);
        background: var(--primary-color);
        border-radius: var(--btn-border-radius);
    }

    & a:not(:first-of-type) {
        text-decoration: underline;
    }
}

.login-register.none {
    display: none;
}

/*=================================================| FOOTER |=================================================*/

footer {
  background: var(--dark);

  & > div {
      display: flex;
      gap: 2rem;
  }
  
  & > div li::marker {
      color: var(--primary-color);
      font-size: calc(var(--base-size) * .625);
  }
  
  & > div li > a {
      color: var(--light);
      text-decoration: none;
  }

  & > div li > a:hover {
      opacity: .7;
  }
}

/*=================================================| BREAKPOINTS |=================================================*/

@media screen and (max-width: 750px) {
  #data-home section .container > ul,
  #data-user-form section form {
      grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 550px) {
  #logo {
      > a span {
          display: none;
      }
  }
}