#data-product {
    .product {
        display:  flex;
        flex-direction: column;
        gap: calc(var(--base-size) * 1.8);

        /*=====| picture |=====*/

        & figure {
            position: relative;
            width: 100%;
            aspect-ratio: 16 / 9; 
            overflow: hidden;
            border-radius: var(--base-size);
            cursor: pointer;
        }
    
        & figure > div,
        & figure figcaption {
            position: absolute;
            bottom: 0;
        }
    
        & figure > div {
            display: block;
            height: 35%;
            z-index: 1;
            background: linear-gradient(transparent, rgb(var(--black-rvb) / .8));
        }

        & figure > div,
        & figure img,
        & figure figcaption {
            width: inherit;
        }
    
        & figure img {
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    
        & figure figcaption {
            color: var(--light);
            user-select: none;
            padding: var(--base-size) calc(var(--base-size) * 1.25);
            z-index: 2;
        }

        /*=====| description |=====*/

        & > div:first-of-type h3 {
            padding-bottom: var(--base-size);
            margin-bottom: var(--base-size);
            border-bottom: var(--border-black-25-percent);
        }

        & > div:first-of-type > div {
            display: flex;
            justify-content: space-between;
        }
        
        & .description li::marker {
            font-size: calc(var(--base-size) * .625);
        }

        & .description li:not(:last-of-type) {
            margin-bottom: calc(var(--base-size) * .5);
        }

        & .description li b {
            font-weight: 400;
        }

        & .description li sup {
            line-height: 1;
        }

        & .booking {
            background: var(--light);
            padding: var(--base-size);
            border-radius: var(--base-size);
        }

        & .booking > span {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        & .booking strong {
            font-family: "Merriweather", sans-serif;
            font-size: calc(var(--base-size) * 1.5);
            font-weight: 600;
        }
    }
}