@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&family=Merriweather:wght@400;700&family=Roboto:wght@300;500;700&display=swap');

:root {
    --primary-color: #335C67;
    --secondary-color: #E09F3E;
    --vanilla: #FFF3B0;
    --danger: #9E2A2B;
    --dark: #1e1d1d;
    --light: #ebebeb;
    --box-shadow: 0 0 15px rgb(0 0 0 / .1);
    --width-container: clamp(30rem, 90%, 96rem);
    --smooth: .3s ease;
    --burger-height: 2.4rem;
}

/*=================================================| BASIC RESET |=================================================*/

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 7rem auto max-content;
}

body, body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    color: var(--dark);
}

button, input[type="submit"] {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

input[type=password]:not(:placeholder-shown) {
    font: small-caption;
    font-size: 2rem;
    letter-spacing: .35rem;
    color: var(--dark);
}

li {
    list-style-position: inside;
}

a {
    text-decoration: none;
}

b {
    font-weight: 600;
}

/*=================================================| GUIDELINE |=================================================*/

.container {
    margin: auto;
    width: var(--width-container);
}

/*=================================================| HEADER |=================================================*/

header {
    background: var(--primary-color);
        
    & > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        & > div {
            display: inherit;
            align-items: center;
            gap: 2rem;
        }
    }
}

#logo {
    > a {
        display: flex;
        gap: 1rem;
        align-items: center;
        transition: filter var(--smooth);
        
        > svg {
            width: 3rem;
            height: auto;
            fill: var(--light);
        }
        
        > span {
            font-size: 2rem;
            font-weight: 600;
            color: var(--light);
        }
    }

    > a:hover {
        filter: contrast(1.5)
    }
}

#user-session {
    display: inherit;
    align-items: inherit;
    gap: 1rem;

    & > div {
        display: inherit;
        align-items: center;
        gap: 1rem;

        & > form button,
        & > form svg {
            display: block;
            aspect-ratio: 1 / 1;
        }
    
        & > form button {
            width: 2.5rem;
        }

        & > form button > svg {
            width: 100%;
            height: auto;
            transition: opacity var(--smooth);
        }

        & > form button > svg:hover {
            opacity: .7;
        }

        & > span {
            color: var(--light);
        }
    }

    & svg path {
        fill: var(--light);
    }

    & a {
        font-weight: 500;
        color: var(--secondary-color)
    }

    & a:hover {
        filter: contrast(1.5);
    }

    & a:not(.register):hover {
        text-decoration: underline;
    }

    & a.register {
        padding: .5rem .8rem;
        background: var(--secondary-color);
        color: var(--primary-color);
        border-radius: .5rem;
    }
}

#burger {
    position: relative;

    & > button {
        display: flex;
        width: 3rem;
        height: var(--burger-height);
        flex-direction: column;
        justify-content: space-between;
        padding: .5rem;

        & > span {
            background: var(--light);
            height: .1rem;
            width: 100%;
            transition: var(--smooth);
        }
    }

    & > nav,
    & > nav::before {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background: var(--light);
    }

    & > nav {
        width: max-content;
        top: calc(var(--burger-height) + 2.5rem);
        box-shadow: var(--box-shadow);
        z-index: 1;
    }

    & > nav::before {
        --height: 1.1rem;
        content: '';
        top: calc(var(--height) * -1);
        width: 2rem;
        height: var(--height);
        clip-path: polygon(0 100%, 50% 0, 100% 100%);
    }

    & > nav.none {
        display: none;
    }

    & > nav > ul {
        list-style: none;
    }

    & > nav > ul li:not(:last-child) {
        border-bottom: 1px solid rgb(0 0 0 / .1);
    }

    & > nav > ul li a {
        display: block;
        padding: .75rem 2rem;
    }

    & > nav > ul li a:hover {
        background: rgb(0 0 0 / .1);
    }
}

.line-1 {
    transform: rotate(-45deg) translate(-.5rem, .4rem);
}

.line-2 {
    opacity: 0;
}

.line-3 {
    transform: rotate(45deg) translate(-.5rem, -.4rem);
}

/*=================================================| MAIN |=================================================*/

main > div,
footer > div {
    padding: 2rem 0;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 3rem;
    padding-bottom: .75rem;
    border-bottom: .1rem solid var(--primary-color);
}

#data-users > ul,
#data-users-form > form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#data-users {
    & > ul > li,
    & > ul > li > div {
        display: flex;
    }

    & > ul > li {
        align-items: center;

        & > div {
            flex-direction: column;
            gap: .5rem;
        }

        & > div span {
            line-height: 1;
        }

        & > figure {
            position: relative;
        }

        & > figure::before {
            --size: 110%;
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: var(--size);
            height: var(--size);
            border: .2rem solid var(--primary-color);
        }

        & > figure::before,
        & img {
            border-radius: 50%;
        }

        & img {
            display: block;
            width: 10rem;
            aspect-ratio: 1 / 1;
            filter: sepia(1) contrast(1.2);
        }
    }
}

#data-users > ul,
#data-users > ul > li,
#data-users-form > form {
    gap: 3rem;
}

#data-users-form,
#data-profil-form {
    & > form {
        margin-bottom: 1.5rem;
    }

    & > form label {
        position: relative;
        display: grid;
        flex-direction: column;
        gap: .5rem;
    }

    & > form input {
        padding: 1rem;
        font-size: 1.6rem;
        border-radius: .5rem;
    }

    & > form input:not(input[type="submit"]) {
        border: .1rem solid var(--dark);
    }

    & > form > input[type="submit"] {
        height: max-content;
        align-self: end;
        background: var(--primary-color);
        color: var(--light);
        font-weight: 500;
    }

    & > form input[type="password"] {
        padding-right: 4rem;
    }
}

#data-users-form {
    & > div[data-msg-infos="success"],
    & > div[data-msg-infos="error"] {
        padding: 1rem;
        line-height: 1;
    }

    & > div[data-msg-infos="success"] {
        border: .1rem solid rgb(0, 128, 0);
        background: rgb(0 128 0 / .2);
    }

    & > div[data-msg-infos="error"] {
        border: .1rem solid rgb(128, 0, 0);
        background: rgb(128 0 0 / .2);
    }
}

#data-profil-form {
    & > form {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        & > div {
            display: inherit;
            gap: inherit;
        }

        & .user-photo figure {
            width: 20rem;
        }

        & .user-photo img {
            display: block;
            border-radius: 50%;
            width: 100%;
            aspect-ratio: 1 / 1;
        }

        & .user-infos {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 1.2rem;
            column-gap: 2rem;
        }
    }
}

#eye-password {
        display: flex;
        position: absolute;
        bottom: 15%;
        right: 3%;

    & > span {
        cursor: pointer;
    }

    & > span.none {
        display: none;
    }

    & > span svg {
        fill: var(--primary-color);
        width: 2rem;
        height: auto;
        display: block;
    }
}

/*=================================================| FOOTER |=================================================*/

footer {
    background: var(--dark);

    & > div {
        display: flex;
        gap: 2rem;
    }

    & > div li::marker {
        color: var(--primary-color);
        font-size: 1rem;
    }

    & > div li > a {
        color: var(--light);
        text-decoration: none;
    }

    & > div li > a:hover {
        opacity: .7;
    }
}

@media screen and (max-width: 750px) {
    #data-users > ul {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 550px) {
    #logo {
        > a span {
            display: none;
        }
    }
}